.console-box {
  animation: slide-in-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.console-box-out {
  animation: slide-out-top 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.screen-cont {
  width: 290px;
  height: 470px;
  background: rgb(224, 239, 232);
  background: linear-gradient(
    180deg,
    rgba(224, 239, 232, 1) 70%,
    rgba(65, 136, 128, 1) 100%
  );
  margin: 10px 0px 10px 34px;
  border-radius: 8px;
  border: var(--main-color-4) solid;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.balloon {
  padding: 8px !important;
}

.text {
  font-family: "VT323", monospace;
  font-size: 22px;
  line-height: 1.2;
}

.text-dev {
  color: var(--main-color-8);
  font-weight: 600;
}

.text-position {
  color: var(--main-color-1);
  font-weight: 800;
  font-size: 28px;
}

img {
  height: 90px;
  z-index: 1;
}

.img-circle {
  background: #c2f994;
  opacity: 0.8;
  border: 2px #9dec7f solid;
  border-radius: 50%;
  width: 100px;
  height: 16px;
  margin-top: -10px;
  margin-bottom: 4px;
  box-shadow: 0px 6px 1px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  .screen-cont {
    width: min(76vw, 660px);
    height: min(74vh, 754px);
  }

  .balloon {
    width: 68vw;
  }

  .text {
    font-size: 34px;
  }

  img {
    height: 120px;
  }

  .img-circle {
    width: 120px;
  }
}

@media screen and (min-width: 820px) {
  .screen-cont {
    width: min(78vw, 790px);
    height: min(74vh, 650px);
  }

  .balloon {
    width: 58vw;
  }

  .text {
    font-size: 30px;
  }

  img {
    height: 120px;
  }

  .img-circle {
    width: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .balloon {
    width: 40vw;
  }

  .text {
    font-size: 34px;
  }

  img {
    height: 140px;
  }

  .img-circle {
    width: 130px;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
