.home-container {
  position: relative;
  width: 375px;
}

a {
  position: absolute;
  right: 8px;
  bottom: 8px;
  z-index: 1;
}

.btns-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  animation: puff-in-ver 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@media screen and (min-width: 480px) {
  .btns-cont {
    gap: 40px;
  }
  a {
    right: 10%;
    bottom: 90%;
  }
}

@media screen and (min-width: 820px) {
  .btns-cont {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    gap: 40px;
  }
}

/**
 * ----------------------------------------
 * animation puff-in-ver
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-ver {
  0% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-ver {
  0% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
