$fc-1: #f1f3f5;
$fc-9: #212529;

.console-box {
  animation: slide-in-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.console-box-out {
  animation: slide-out-bottom 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.screen-cont {
  width: 290px;
  height: 470px;
  background: rgb(255, 230, 204);
  background: linear-gradient(
    0deg,
    rgba(255, 230, 204, 1) 0%,
    rgba(255, 194, 167, 1) 100%
  );
  margin: 10px 0px 10px 34px;
  border-radius: 8px;
  border: 2px var(--main-color-4) solid;

  font-family: "VT323", monospace;
}

.top-cont {
  width: 286px;
  height: 34px;
  background-color: #0179c6;
  border-radius: 4px 4px 0 0;

  display: flex;
  justify-content: space-between;
}

.info-proj-cont {
  width: 132px;
  height: 34px;
  background-color: #e6da9d;
  border: 2px var(--main-color-4) solid;
  border-top: none;
  border-left: none;
  border-radius: 8px 30px 30px 0;
}

.info-proj-cont p {
  color: $fc-1;
  margin: 0;
  text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.75);
  text-align: center;
  font-size: 22px;
}

.top-btn {
  width: 62px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.75);
}

.top-btn span {
  width: 26px;
  height: 26px;
  background-color: #f8f8f8;
  text-align: center;
  border-radius: 10px;
  border: 2px var(--main-color-4) solid;
  font-size: 16px;
}

.top-btn p {
  margin: 0;
  color: #f8f8f8;
  font-size: 20px;
}

.project-img-cont {
  width: 145px;
  height: 150px;
  color: $fc-1;
  background-color: #ceaaf0;
  border: 4px var(--main-color-4) solid;
  border-radius: 2px;
  text-align: center;
}

.project-img-cont p {
  margin: 0;
  text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.5);
  font-size: 18px;
}

.project-img-cont img {
  width: 136px;
  height: 116px;
  object-fit: cover;
  border: 2px #b597d2 solid;
}

.project-info-cont {
  display: grid;
  grid-template-columns: 145px 1fr;
}

.project-desc-cont {
  grid-column: 1 / -1;
}

.project-details-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.project-info-item {
  display: flex;
  align-items: center;
}

.item-spec-bg {
  width: 40px;
  height: 14px;
  border-radius: 2px;
  background-color: var(--main-color-7);
}

.item-spec-label {
  color: $fc-1;
  margin: 0;
  font-size: 20px;
  text-align: center;
  margin-top: -8px;
}

.item-value-bg {
  width: 100px;
  height: 22px;
  background-color: #fef3ef;
  border: 2px #d0c8b8 solid;
  border-radius: 4px;
}

.item-value-label {
  margin: 0;
  font-size: 20px;
  margin-top: -6px;
  text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.25);
}

.desc-cont {
  width: 285px;
  height: 230px;
  background-color: #fef3ef;
  border: 2px #d0c8b8 solid;
  border-radius: 4px;
  margin-top: 12px;
  position: relative;
}

.desc-title-bg {
  width: 100px;
  height: 14px;
  border-radius: 2px;
  background-color: var(--main-color-7);
  position: absolute;
  top: -8px;
  left: 10px;
  text-align: center;
}

.desc-title-label {
  color: $fc-1;
  margin: 0;
  font-size: 18px;
  margin-top: -6px;
}

.desc-text-cont {
  padding: 10px;
}

.desc-text {
  color: $fc-9;
  font-size: 20px;
  line-height: 20px;
}

.visit-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-play {
  width: 18px;
  height: 18px;
}

.project-not-found-cont {
  font-family: "Press Start 2P", cursive;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 480px) {
  .screen-cont {
    width: min(76vw, 660px);
    height: min(78vh, 780px);
  }

  .top-cont {
    width: min(calc(76vw - 4px), 660px);
    height: 44px;
    padding-right: 20px;
  }

  .info-proj-cont {
    width: min(34vw, 240px);
    height: 44px;
  }

  .info-proj-cont p {
    font-size: 28px;
  }

  .top-btn {
    width: 86px;
  }

  .top-btn span {
    width: 34px;
    height: 36px;
    font-size: 22px;
  }

  .top-btn p {
    font-size: 28px;
  }

  .project-info-cont {
    grid-template-columns: 38vw 1fr;
  }

  .project-img-cont {
    width: min(38vw, 284px);
    height: 290px;
  }

  .project-img-cont p {
    font-size: 32px;
  }

  .project-img-cont img {
    width: min(36vw, 274px);
    height: 234px;
  }

  .project-details-cont {
    gap: 16px;
  }

  .item-spec-bg {
    width: min(12vw, 80px);
    height: 18px;
  }

  .item-spec-label {
    font-size: 28px;
    margin-top: -12px;
  }

  .item-value-bg {
    width: min(24vw, 180px);
    height: 32px;
  }

  .item-value-label {
    margin: 0;
    font-size: 32px;
    margin-top: -10px;
  }

  .img-play {
    width: 38px;
    height: 38px;
  }

  .desc-cont {
    width: min(calc(76vw - 4px), 616px);
    height: 340px;
  }

  .desc-title-bg {
    width: 180px;
    height: 20px;
    left: 50px;
  }

  .desc-title-label {
    margin: 0;
    font-size: 24px;
    margin-top: -8px;
  }

  .desc-text-cont {
    padding: 20px;
  }

  .desc-text {
    font-size: 32px;
    line-height: 32px;
  }
}

@media screen and (min-width: 820px) {
  .screen-cont {
    width: min(78vw, 790px);
    height: min(74vh, 650px);
  }

  .top-cont {
    width: min(calc(78vw - 4px), 786px);
    height: 34px;
    padding-right: 20px;
  }

  .info-proj-cont {
    height: 34px;
  }

  .info-proj-cont p {
    font-size: 24px;
  }

  .top-btn span {
    width: 28px;
    height: 28px;
    font-size: 18px;
  }

  .top-btn p {
    font-size: 24px;
  }

  .project-info-cont {
    grid-template-columns: 30vw 1fr;
  }

  .project-img-cont {
    width: min(38vw, 360px);
    height: 220px;
  }

  .project-img-cont p {
    font-size: 28px;
  }

  .project-img-cont img {
    width: min(36vw, 352px);
    height: 172px;
  }

  .item-spec-bg {
    width: min(12vw, 80px);
    height: 18px;
  }

  .desc-cont {
    width: min(calc(78vw - 4px), 786px);
    // height: 340px;
  }
}

@media screen and (min-width: 820px) and (max-height: 600px) {
  .desc-cont {
    height: 174px;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-out-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}
